*,*::before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.container{
    margin: 0 auto;
    max-width: 1000px;
}
